.form-container {
width: calc(100vw - 200px);
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 80px;

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid black 1px;
    border-radius: 15px;
    padding: 2em;

    .error-message-area {
        height: 20px;
    }
    fieldset {
        border: none;
    }
    label {
        display: block;
    }
    button {
        padding: 1em 1.5em;
        align-self: center;
        border-radius: 5px;
    }
    .formValid {
        background-color: pink;
    }

}
}